[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = "*"
pyotp = "*"
python-dotenv = "*"
Flask-Limiter = "*"
prospector = "*"
python-taint = "*"

[dev-packages]

[requires]
python_version = "3.10"
